<h1>{{title}}</h1>

<hr>

    <p>
      Description:
    </p>

    <p>
      -<i> {{description}}</i>
    </p>

    <p>
      User:
    </p>
    <p>
      -{{owner}}
    </p>
<br>

  <button class="btn btn-danger" {{action 'delete'}}>Delete answer?</button>
