<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Pancake StackOverflow</h1>
  </div>

  {{outlet}}
  <br>
  <br>
  <br>

</div>
<div id="footer">
     <div class="container">
       {{#link-to 'questions' classNames="btn btn-primary"}} Home {{/link-to}}

     </div>
   </div>
