<h2>Add a new item</h2>


<form>

  <label for="description">Your answer</label>
  {{textarea id="description" class="form-control" value=description}}

  <label for="owner">Answerer</label>
  {{input id="owner" class="form-control" value=owner}}

<br>
    <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
