<h2>Add a new question</h2>


<form>
  <label for="title">Question</label>
  {{input id="title" class="form-control" value=title}}


  <label for="author">Username</label>
  {{input id="author" class="form-control" value=author}}


  <label for="description">Description</label>
  {{textarea id="description" class="form-control" value=description}}

<br>

    <button class="btn btn-success" {{action 'save'}}>Ask question</button>
</form>
